<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Shopping App</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
		
		<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	</head>
<body>
<header role="banner" class="shoppingheader navbar" th:fragment="shoppingheader">
	
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
					
			<ul class="nav navbar-nav text-center">
				<li><a href="/carts" th:text="#{header.links.shoppingcarts}">Ostoslistat</a></li>
				<li><a href="/logout"><span th:text="#{header.links.user}">Käyttäjä:</span>&nbsp;<span sec:authentication="name">Käyttäjä</span></a></li>
			</ul>
			
		</div>
	</nav>
	
	<script src="/js/shopping.js" type="text/javascript"></script>
	
  </header>
</body>
</html>